{% extends "_base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% include "header.html" %}

<div>Please input the names of the founders or current operating officers</div>
<form class="container">
  <div class="input-field col s4">
    <label>Founder #1</label>
    <input id="founder_one" type="text"></input>
  </div>
  <div class="input-field col s4">
    <label>Founder #2</label>
    <input id="founder_two" type="text"></input>
  </div>
  <div class="input-field col s4">
    <label>Founder #3</label>
    <input id="founder_three" type="text"></input>
  </div>
  <div class="input-field col s4">
    <label>Company Name</label>
    <input id="company_name" type="text"></input>
  </div>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/js/funding.js"></script>

{% include "footer.html" %}
{% endblock %}
