body {
  width: 100%;
  height: 100% auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

header > * {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

header {
  min-height: 100px;
  position: relative;
}

.logo {
  float: left;
  clear: none;
}

.header_title {
  width: 25%;
  font-size: 4rem;
}

.header_desc {
  font-size: 180%;
}

footer {
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 25px;
}

.center {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.tracker {
  display: inline-block;
  position: sticky;
  padding: 10px;
  font-size: 2rem;
}

.start {
  padding: 70px 0px 30px 0px;
  font-size: 2rem;
}

#other_businesses {
  padding: 10px;
  margin: 100px 0px 50px 0px;
}

p {
  display: block;
  line-height: 2;
  text-align: center;
  font-size: 1.25rem;
}

.header_desc {
  font-size: 200%;
}

#consumer_button,#business_button {
  padding: 30px;
}

.question_container {
  width: 100%;
  min-height: 100px;
}
