body {
  width: 100%;
  height: 100% auto;
  font: 14px "Verdana", Helvetica, Arial, sans-serif;
  background-image: url("/images/mountain.jpeg");
  background-repeat: no-repeat;
  background-color: #white;
  background-size: cover;
  background-position: center;
}

* {
  text-align: center;
}

form {
  background-color: white;
  border-radius: 10px;
}
main {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

header > * {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-align: center;
  padding: 20px;
}

header {
  background-color: white;
  opacity: .9;
  min-height: 100px;
  position: relative;
  margin-bottom: 50px;
}

.logo {
  float: left;
  clear: none;
}

.header_title {
  width: 25%;
  font-size: 4rem;
}

.header_desc {
  font-size: 180%;
}

footer {
  border-top: gray 2px solid;
  background-color: white;
  opacity: .8;
  z-index: 5;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 25px;
  color: black;
}

.center {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.tracker {
  display: inline-block;
  position: sticky;
  padding: 10px;
  font-size: 2rem;
}

.start {
  padding: 70px 0px 30px 0px;
  font-size: 2rem;
}

#other_businesses {
  padding: 10px;
  margin: 100px 0px 50px 0px;
}

p {
  margin: 0 auto;
  display: block;
  width: 50%;
  line-height: 2;
  text-align: center;
  font-size: 1.15rem;
  padding-top: 25px;
  padding-bottom: 10px;
}

.header_desc {
  padding-top: 50px;
  font-size: 180%;
  vertical-align: top;
  margin: auto;
  padding-left: 100px;
}

#consumer_button,#business_button {
  padding: 30px;
}

.question_container {
  width: 100%;
  min-height: 100px;
}

.question_label {
  padding: 20px;
}
.results_disp {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  background-color: white;
  width: 70%;
}

.results_disp > * {
  padding: 10px;
}

.caret {
  border-color: transparent !important;
}

.found {
  color: green;
  font-size: 2rem;
  text-align: center;
}

.missing {
  color: gray;
  opacity: .6;
  font-size: 2rem;
  text-align: center;
}

canvas {
  margin: 0 auto;
  width: 600px;
  font-size: 1.8rem;
  background-color: white;
}

#canvas-holder {
  margin: 0 auto;
  width: 60%;
}

input {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}

button {
  opacity: 1;
  margin:0 auto;
  padding: 10px;
}

#changeFunding,#changeFinal,#changeMarket {
  margin: 0 auto;
  margin-bottom: 100px;
}

.logo {
  height: 150px;
  width: 150px;
  padding-bottom: 50px;
  float: left;
}

background {
  opacity: .2;
}

label {
  display: block;
  line-height: 150%;
  text-align: center;
}

#final_score {
  background-color: white;
  color: green;
  font-size: 2rem;
  padding: 20px;
}
